@model RideSharing.Models.RideRequest

@{
    ViewData["Title"] = "Ride Request Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Ride Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ride
        </dt>
        <dd class="col-sm-10">
            @Model.Ride.Origin to @Model.Ride.Destination
        </dd>
        <dt class="col-sm-2">
            Passenger
        </dt>
        <dd class="col-sm-10">
            @Model.Passenger.FirstName @Model.Passenger.LastName
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Model.Status
        </dd>
        <dt class="col-sm-2">
            Requested At
        </dt>
        <dd class="col-sm-10">
            @Model.RequestedAt.ToString("g")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
