@model IEnumerable<RideSharing.ViewModels.RideViewModel>

@{
    ViewData["Title"] = "Domov";
}

<h2>@ViewData["Title"]</h2>

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

<table class="table">
    <thead>
        <tr>
            <th>Voznik</th>
            <th>Vozilo</th>
            <th>Izvor</th>
            <th>Destinacija</th>
            <th>Št. prostih sedežev</th>
            <th>Datum Prevoza</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var rideVM in Model)
    {    
        <tr>
            <td>@rideVM.DriverEmail</td>
            <td>@rideVM.VehicleName</td>
            <td>@rideVM.Origin</td>
            <td>@rideVM.Destination</td>
            <td>@rideVM.AvailableSeats</td>
            <td>@rideVM.RideDateTime.ToLocalTime().ToString("g")</td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Rides" asp-action="Details" asp-route-id="@rideVM.Id" class="btn btn-info">Podrobnosti</a>
                    
                    @if (rideVM.IsDriver)
                    {
                        <span class="btn btn-secondary disabled">Lastnik vožnje</span>
                    }
                    else if (rideVM.CanRequest)
                    {
                        <a asp-controller="RideRequests" asp-action="Create" asp-route-rideId="@rideVM.Id" class="btn btn-primary">Pošlji Zahtevo</a>
                    }
                    else
                    {
                        <button class="btn btn-warning" disabled>Že imate zahtevo</button>
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
