@model IEnumerable<RideSharing.Models.Ride>

@{
    ViewData["Title"] = "Moji Prevozi";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj Nov Prevoz</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Voznik</th>
            <th>Vozilo</th>
            <th>Izvor</th>
            <th>Destinacija</th>
            <th>Datum Prevoza</th>
            <th>Ustvarjeno</th>
            <th>Posodobljeno</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var ride in Model)
    {
        <tr>
            <td>@ride.Driver?.UserName</td>
            <td>@ride.Vehicle?.Make @ride.Vehicle?.Model</td>
            <td>@ride.Origin</td>
            <td>@ride.Destination</td>
            <td>@ride.RideDateTime.ToLocalTime().ToString("g")</td>
            <td>@ride.CreatedAt.ToLocalTime().ToString("g")</td>
            <td>@ride.UpdatedAt.ToLocalTime().ToString("g")</td>
            <td>
                <a asp-action="Details" asp-route-id="@ride.Id" class="btn btn-info btn-sm">Pregled</a>
                <a asp-action="Edit" asp-route-id="@ride.Id" class="btn btn-warning btn-sm">Uredi</a>
                <a asp-action="Delete" asp-route-id="@ride.Id" class="btn btn-danger btn-sm">Izbriši</a>
            </td>
        </tr>
    }
    </tbody>
</table>
